//för bilder shape och hur ser ut i sidan
@import 'color-variabel';
.wrapit{
  width: 100%;
  overflow: hidden;
  margin: 0 ;}
img {
  border-radius: 50%;
  box-shadow: 0 0 0 10px $medblue;
  margin-top: 10px;
  margin-left: 10px;
  display: inline;
}