//alla fonter och formateringar för sidan
@import 'color-variabel';
//********************************
@mixin h1-format(){
  color:$neutralblack;
  font-weight:300;

}
//********************************
@mixin header-format(){
 background: $hellayellow;
  color: white;
  padding: em(10px);
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
//******************************
@mixin body-format(){
  background: $lightblue;
  font-family: $base-font-family;
  color: $neutralblack;
}
//*******************************
h1{
@include h1-format();	
}

a{
  text-decoration:none;
}

ul{
  margin:0;
  padding:0;
}

li{
  list-style:none;
  display:inline;
}
body {
@include body-format();
}

* {
  transition: all .65s ease;
  box-sizing: border-box;
  
}

//Centering Content 
.container {
  max-width: 75em;
  margin: 0 auto;
}
.header {
 @include header-format();
  }
  .site-title, .site-tagline {
    font-weight: 400;
  }
}